<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <!-- IMPORTANTE: NO declarar android:configChanges="orientation|screenSize" aquí.
             Si se declarara, Android dejaría de destruir/recrear la Activity al rotar
             y NUNCA se dispararían onSaveInstanceState/onRestoreInstanceState, que es
             justamente lo que este punto del taller busca demostrar. -->
        <activity
            android:name="com.udenar.persistencia.punto1.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>